<web-app>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext
        </param-value>
    </context-param>

    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionIdPathParameterName</param-name>
        <param-value>none</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /META-INF/spring/cdms-profile-ctx.xml
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>GraphWeb</servlet-name>
        <servlet-class>no.osl.cdms.profile.web.GraphWebservice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraphWeb</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>